* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p,
a {
  color: white;
}

.black-body {
  padding: 40px;
  background-color: #191919;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.nav-bar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-info {
  display: flex;
  justify-content: space-between;
}
.nav-bar-buttons {
  display: flex;
  justify-content: center;
}
.nav-bar-info-item {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.some-properties {
  margin-bottom: 100px;
}
.some-properties-header {
  display: flex;
  justify-content: space-between;
}
.some-properties-header-item {
  width: 25%;
  padding: 10px 0;
  border-bottom: solid white 1px;
  text-align: center;
}
.some-properties-body {
  display: flex;
  justify-content: space-between;
}
.some-properties-body-image,
.some-properties-body-text {
  width: 50%;
}
.some-properties-body-text-stats {
  display: flex;
  justify-content: space-between;
}
.stats-wrapper {
  border-left: solid orange 1px;
}

.distinguished-property {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.distinguished-property-text,
.distinguished-property img {
  width: 50%;
}
.distinguished-property-stats {
  display: flex;
  justify-content: space-between;
}

.MORE-properties {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.MORE-properties h3,
.MORE-properties-wrapper {
  width: 50%;
}
.MORE-properties-item {
  padding: 10px 0;
  border-bottom: solid white 1px;
  border-top: solid white 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MORE-properties-item img {
  padding: 60px;
}
