:root {
  --white: white;
  --gray-text: #a4abb4;
  --gray-highlight: #7e838a;
  --black: black;
  --black-bg: #191919;
  --orange-text: #b07724;
  --orange-bg: #cf8c29;
  --weird-green: #373a25;
  --button-click: #432706;
}

.link-parent:hover .link-border:after {
  width: 100%;
}
.link-border {
  border-bottom: dotted 1px;
  display: inline-block;
}
.link-border:after {
  transition: all ease-in-out 0.5s;
  border-bottom: solid 1px;
  display: block;
  content: "";
  margin-bottom: -1px;
  width: 0;
}
.link-border:hover:after {
  width: 100%;
}
.turn-orange{
  transition: all .5s ease-in-out;
}
.turn-orange:hover {
  border-color: var(--orange-bg);
  color: var(--orange-text);
}
.turn-orange:hover p {
  color: var(--orange-text);
}
.turn-gray{
  transition: all .5s ease-in-out;
}
.turn-gray:hover {
  border-color: var(--gray-text);
  color: var(--white);
  background-color: var(--gray-text);
}
.turn-gray:hover p {
  color: var(--white);
}
.turn-brown{
  transition: all .5s ease-in-out;
}
.turn-brown:hover {
  border-color: var(--button-click);
  color: var(--white);
  background-color: var(--button-click);
}
.turn-brown:hover p {
  color: var(--white);
}
.turn-white{
  transition: all .5s ease-in-out;
}
.turn-white:hover {
  border-color: var(--white);
  color: var(--white);
}
.turn-white:hover p {
  color: var(--white);
}
.turn-grayer{
  transition: all .5s ease-in-out;
}
.turn-grayer:hover {
  color: var(--gray-highlight);
}
.turn-grayer:hover p,
.turn-grayer:hover i {
  color: var(--gray-highlight);
}

.p14 {
  font-size: 14px;
}
.p16 {
  font-size: 16px;
}
.p18 {
  font-size: 18px;
}
.p12 {
  font-size: 12px;
}
.p20 {
  font-size: 20px;
}
.p45 {
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.p60 {
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.p30 {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.p25 {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.button {
  border-radius: 15px;
  padding: 5px 20px;
}
.sign-in {
  transition: all ease-in-out 0.5s;
  background-color: var(--black-bg);
  border: solid 1px var(--white);
  color: var(--white);
}
.contact-us {
  transition: all ease-in-out 0.5s;
  background-color: var(--white);
  border: solid 1px var(--white);
  color: var(--black);
  height: fit-content;
  margin-left: 10px;
  margin-right: 5px;
}
.orange {
  transition: all ease-in-out 0.5s;
  border: solid 1px var(--orange-bg);
  background-color: var(--orange-bg);
  color: var(--black);
  margin: 25px 0;
}
.gray {
  color: var(--gray-text);
  border-color: var(--gray-text);
}
